@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
}

[dir="rtl"] {
  font-family: system-ui, -apple-system, sans-serif;
}

.btn-premium {
  padding: 2rem 1rem;
  border-radius: 9999px;
  font-weight: 700;
  transition: all 0.2s;
  transform: scale(1);
}

.btn-premium:hover {
  transform: scale(1.05);
}

.btn-premium:active {
  transform: scale(0.95);
}
